{% extends 'base.html.twig' %}

{% block title %}Конкурсы{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('resources/lib/datepicker/datepicker.min.css') }}">
{% endblock %}

{% block body %}
    <section class="page-search mt-5">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1 class="mb-4">Поиск конкурсов и грантов</h1>
                    <div class="dropdown search-wrapper">
                        <svg class="bi bi-search icon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                                  clip-rule="evenodd"/>
                            <path fill-rule="evenodd"
                                  d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                                  clip-rule="evenodd"/>
                        </svg>
                        <input id="search_input" class="form-control mr-sm-2" type="search" placeholder="Поиск"
                               aria-label="Search" {% if request['query'] %}value="{{ request['query'] }}"{% endif %}>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <!-- для выпадающего списка -->
                            <a class="dropdown-item" href="#">Action1</a>
                            <a class="dropdown-item" href="#">Action2</a>
                            <a class="dropdown-item" href="#">Action3</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-content">
        <div class="container-fluid container-md">
            <div class="row relative">
                <div class="col-12 col-md left-menu">
                    <div class="left-menu-bg">
                        <div class="date-choice">
                            <h5>Дата проведения</h5>
                            <div class="date-wrapper">
                                <input type="text" placeholder="Выберите даты" data-range="true"
                                       data-multiple-dates-separator=" - " class="datepicker-here" id="date"
                                       {% if request['date'] %}value="{{ request['date'] }}"{% endif %}/>
                            </div>
                        </div>
                        <div class="direction-choice">
                            <h5>Направления</h5>
                            <div class="directions-list">
                                {% if industries %}
                                    {% for industry in industries %}
                                        <div class="direction">
                                            <input type="checkbox" class="custom-checkbox" id="d{{ industry.id }}"
                                                   value='{{ industry.id }}'
                                                   {% if industry.id in request.industry %}checked{% endif %}>
                                            <label for="d{{ industry.id }}">{{ industry.name }}</label>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md search-results">
                    {% if competitions %}
                        {% for competition in competitions %}
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <div class="card-content-wrapper">
                                        <div class="card-body-top">
                                            <h6>{% if datetime < competition.deadline %}
                                                    Актуально
                                                {% else %}
                                                    Архив
                                                {% endif %}</h6>
                                            <span class="icon__like">
                                                <svg class="bi bi-heart-fill" width="20" height="18"
                                                     viewBox="-1 -1 18 16"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                  <path fill-rule="evenodd"
                                                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
                                                        clip-rule="evenodd"/>
                                                </svg>
                                            </span>
                                        </div>
                                        <h5 class="card-title"><a
                                                    href="{{ url('get_competition', {'id':competition.id}) }}">
                                                {{ competition.name }}</a></h5>
                                    </div>
                                    <p class="card-text">Заявки до {{ competition.deadline|date("H:i:s d.m.Y") }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% elseif message %}
                        {{ message }}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('resources/lib/Popper/Popper.js') }}"></script>
    <script src="{{ asset('resources/lib/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('resources/lib/datepicker/datepicker.min.js') }}"></script>
    <script src="{{ asset('resources/lib/jQuery/jquery.ba-throttle-debounce.min.js') }}"></script>
    <script src="{{ asset('resources/js/script.js') }}"></script>
{% endblock %}